/* 전체 크기 */
section{
    width: 600px;
}
/* 메뉴 영역 */
.menu-container{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    border-bottom: 1px solid black;
}
/* 메뉴 한개를 감싸는 div */
.menu-container > div{
    display: inline-block;
    padding: 0 1.6rem;
    border-right: 1.5px solid gray;
}

.menu-container > div:last-child{
    border: none;
}

/* 각 메뉴 글자를 감싸는 디자인 */
.menu-container span{
    display: inline-block;
    box-sizing: border-box;
    padding: 0.3rem 1.6rem;
    font-weight: bold;
}

/* 메뉴에 손 올렸을 때 */
.menu-container span:hover{
    cursor: pointer;
    box-sizing: border-box;
    background-color: green;
    border-radius: 1.3rem;
    color: white;
}

/*********** 내부 콘텐츠 영역 *********/

.content-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.2rem 0;
    gap: 10px 0;
}

.content{
    display: flex;
}

/* 이미지를 감싸고 있는 영역 */
.content > div:first-child{
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-right: 0.6rem;
}
/* 이미지 */
.content img{
    width: 100px;
}
/* 이미지에 마우스 올렸을 때 */
.content img:hover{
    transform: scale(110%);
}

/******** 각 글자 설정 **************/
.sale{
    background: mediumseagreen ;
    color: white;
}
.content > div:nth-child(2) > div:nth-child(2){
    margin: auto 0;
}
.brand{
    color: #ABA0F8;
}
.title{
    color: #333;
}
.price{
    color: #333;
    font-weight: bold;
    font-size: larger;
}

button{
    width: 100%;
    cursor: pointer;
    padding: 0.5rem 0;
    border: 1px solid black;
    border-radius: 1.23rem;
    background-color: lightyellow;
    font-weight: bold;
    font-size: larger;
}








