table{
    width: 25rem;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid saddlebrown;
}
tr, td{
    border: 1px solid brown;
}

caption > span{
    font-weight: bold;
}

section{
    display: flex;
    justify-content: center;
    margin: 1.2rem 0;
    width: 25rem;
}












