body{
    margin: 0;
    padding: 0;
}
main{
    width: 600px;
    margin: 0 auto;
    border: 1px solid black;
}

h2{
    background-color: black;
    color: white;
}
h3{
    color: red;
}

#apple-title{
    position: relative;
    height: 300px;
    overflow: hidden;
    background-image: url("https://images.unsplash.com/photo-1560806887-1e4cd0b6cbd6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#apple-title > div{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 1.2rem 1.5rem;
    background-color: rgba(0, 0, 0, 0.7);
}
/* 가정용 꿀사과 제목 */
#apple-title > div > h3{
    margin-top: 0;
    color: white;
}
/* 흠집 ~~~ 설명문 */
#apple-title span{
    display: inline-block;
    color: salmon;
    margin: 0.2rem;
}

.blue-text{
    color: blue;
}
#sub-2{
    border-bottom: 1px solid black;
}

.sub{
    text-align: center;
    margin: 0.3rem 0;
    padding: 1.5rem 0;
}










