.board {
    font-size: 30px;

}

.alphabets {

}
.alphabets > button {
    width: 50px;
    height: 50px;
    font-size: 30px;
    background-color: whitesmoke;
    border: 2px solid black;
}

.answer {

}
.answer > div{
    background-color: whitesmoke;
    border: 2px solid black;
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 30px;
    text-align: center;
}