*{
    margin: 0;
    padding: 0;
}
main{
    width: 60%;
    height: 100vh;
    margin: 0 auto;
    padding: 1rem 2rem;
    background-color: aliceblue;
}
h2{
    text-align: center;
    margin-bottom: 1rem ;
}

#area-head{
    margin: 0.3rem 0;
    display: flex;
    justify-content: space-between;

}

#area-head > label{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 0.2rem;
    background-color: lightskyblue;
}

#area-head input[type='text']{
    border: none;
    padding: 0.2rem 0.5rem;
    margin-left: 0.5rem;
    font-size: 1.1rem;
}

#area-head > div{
    display: flex;
    font-weight: bold;
    align-items: center;
}

#area-head input[type='button']{
    font-size: 1.2rem;
    margin: 0 0.8rem;
    padding: 0.2rem 0.35rem;
    border-radius: 0.2rem;
    background-color: cornflowerblue;
    cursor: pointer;
}

#area-head span{
    font-size: 1.5rem;
    margin-right: 0.8rem;
}


#area-contents textarea{
    display: block;
    padding: 0.4rem;
    font-size: 1.4rem;
    box-sizing: border-box;
    border: 2px solid black;
    border-bottom: none;
    width: 100%;
    resize: none;
}

#area-contents textarea:focus{
    background-color: snow;
    outline: none;
}
#area-contents textarea:focus-visible{
    outline: none;
}

#area-contents > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

#area-contents > div{
    border: 2px solid black;
}

#area-contents span{
    font-size: 1.2rem;
    padding: 0.4rem 1rem;
}

#area-contents input{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.4rem 1rem;
    border: none;
    border-left: 2px solid black;
    border-radius: unset;
    background-color: lightskyblue;
    cursor: pointer;
}


/**************************************/
.comment{
    margin: 0.5rem 0;
    border: 2px solid black;
    border-radius: 0.3rem;
    padding: 0.3rem 0.7rem;
    background-color: white;
}
.comment > div{
    display: flex;
    margin-bottom: 0.5rem;
    justify-content: space-between;
    font-size: 0.9rem;
}

.comment-nick{
    font-weight: bold;
}

.comment-rm-btn{
    font-weight: bold;
}

.comment-contents{
    font-size: 0.9rem;
}

.comment-date{
    font-size: 0.7rem;
    color: rgba(0,0,0,0.7);
}





