@charset "utf-8";


/*** CSS 초기화 ***/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    /*폰트 설정*/
    font-family: NanumGothic, 나눔고딕, 'NanumGothic', '나눔고딕';
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul, li {
    /*ul, li 태그 스타일 초기화*/
    list-style: none;
}

a {
    /*a 태그 초기화*/
    margin: 0;
    padding: 0;
    font-size: 100%;
    text-decoration: none;
    vertical-align: baseline;
    color: #fff;
    background: transparent;
}

img {
    /*img 태그의 간격 없애기*/
    /*vertical-align: top;*/

    width: 100px;
    height: 100px;
}

table {
    /*table 태그 간격 없애기*/
    border-collapse: collapse;
    /*separate : 표(table)의 테두리와 셀(td)의 테두리 사이에 간격을 둡니다.*/
    /*collapse : 표(table)의 테두리와 셀(td)의 테두리 사이의 간격을 없앱니다. 겹치는 부분은 한 줄로 나타냅니다.*/
    /*initial : 기본값으로 설정합니다.*/
    /*inherit : 부모 요소의 속성값을 상속받습니다.*/
    border-spacing: 0;
}

input {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    vertical-align: top;
    appearance: none;
    border: 1px solid #e65d5d;
    color: #e65d5d;
    border-radius: 0;
    font-family: NanumGothic, 나눔고딕, 'NanumGothic', '나눔고딕';
}

input::placeholder {
    color: #e65d5d;
}


/*** 미디어 쿼리 ***/
/* 모바일용 : 320px */
/* 태블릿용 : 768px */
/* pc용 : 960px 또는 1024px */

/*모바일용 쿼리*/
#wrap {
    display: flex;
    /*flex-direction : column; */
    /*flex-wrap: nowrap;*/
    flex-flow: column nowrap;
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

#wrap section {
    box-sizing: border-box;
}

/*태블릿용 쿼리*/
@media all and (min-width: 768px) {
    #wrap {
        flex-flow: row wrap;
    }
}

/*pc용 쿼리*/
@media all and (min-width: 960px) {
    #wrap {
        position: relative;
        width: 90%;
    }
}