@charset "utf-8";

/*** CSS 초기화 ***/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    /*폰트 설정*/
    font-family: NanumGothic, 나눔고딕, 'NanumGothic', '나눔고딕';
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul, li {
    /*ul, li 태그 스타일 초기화*/
    list-style: none;
}

a {
    /*a 태그 초기화*/
    margin: 0;
    padding: 0;
    font-size: 100%;
    text-decoration: none;
    vertical-align: baseline;
    color: #fff;
    background: transparent;
}

img {
    /*img 태그의 간격 없애기*/
    /*vertical-align: top;*/

    width: 100px;
    height: 100px;
}

table {
    /*table 태그 간격 없애기*/
    border-collapse: collapse;
    /*separate : 표(table)의 테두리와 셀(td)의 테두리 사이에 간격을 둡니다.*/
    /*collapse : 표(table)의 테두리와 셀(td)의 테두리 사이의 간격을 없앱니다. 겹치는 부분은 한 줄로 나타냅니다.*/
    /*initial : 기본값으로 설정합니다.*/
    /*inherit : 부모 요소의 속성값을 상속받습니다.*/
    border-spacing: 0;
}

input {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    vertical-align: top;
    appearance: none;
    border: 1px solid #e65d5d;
    color: #e65d5d;
    border-radius: 0;
    font-family: NanumGothic, 나눔고딕, 'NanumGothic', '나눔고딕';
}

input::placeholder {
    color: #e65d5d;
}


/*** 미디어 쿼리 ***/
/* 모바일용 : 320px */
/* 태블릿용 : 768px */
/* pc용 : 960px 또는 1024px */

/*모바일용 쿼리*/
#wrap {
    display: flex;
    /*flex-direction : column; */
    /*flex-wrap: nowrap;*/
    flex-flow: column nowrap;
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}
#wrap section {
    box-sizing: border-box;
}

/* info 영역 */
.info_section {
    order: 1;
    width: 100%;
    background: #2ecc71;
    border-bottom: 1px solid #39d67c;
    display: flex;
}
.info_list li {
    width: 25%;
    text-align: center;
}
.info_list li a {
    display: block;
    padding: 15px 0;
    padding: 0.938rem 0;
}

/* header 영역 */
.header {
    display: flex;
    order: 2;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.logo {
    order: 1;
    width: 100%;
    padding: 30px 0;
    padding: 1.875rem 0;
    font-size: 1.188em;
    font-size: 1.188rem;
    line-height: 21px;
    line-height: 1.313rem;
    text-align: center;
    text-transform: uppercase;
    background: #2ecc71;
}
.nav {
    order: 2;
    width: 100%;
    border: 1px solid black;
}
.gnb li {
    display: flex;
    background: #2c3e50;
}
.gnb li a {
    width: 80%;
    padding: 20px 0;
    padding: 1.250rem 0;
    font-size: 0.938em;
    font-size: 0.938rem;
    text-indent: 20px;
    text-indent: 1.250rem;
    font-weight: bold;
    text-transform: uppercase;
}

.gnb li span {
    width: 20%;
    text-indent: -9999px;
    background: url(../img/s_images/sub_menu_toggle_btn.png) center center no-repeat;
    cursor: pointer;
}

.menu_toggle_btn {
    display: block;
    width: 30px;
    width: 1.875rem;
    height: 30px;
    height: 1.875rem;
    position: absolute;
    top: 10px;
    top: 0.625rem;
    right: 10px;
    right: 0.625rem;
    text-indent: -9999px;
    background: url(../img/s_images/menu_toggle_btn.png) no-repeat;
    cursor: pointer;
}

/* slider 영역 */
.slider_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 3;
    width: 100%;
    height: 300px;
    height: 18.750rem;
    background: url(../img/p_images/slider_01.jpg) center center no-repeat;
}

.slider_section span {
    width: 34px;
    width: 2.125rem;
    height: 39px;
    height: 2.438rem;
    text-indent: -9999px;
    background: url(../img/s_images/slider_arrow.png) no-repeat;
    cursor: pointer;
}

span.prev_btn {
    margin-left: -10px;
    margin-left: -0.625rem; /* 슬라이더 영역에서 살짝 벗어나도록 margin값 설정 */
    background-position: 0 0;
}
span.next_btn {
    margin-right: -10px;
    margin-right: -0.625rem;
    background-position: -34px 0; /* 이미지 좌우 반전 */
}

/*태블릿용 쿼리*/
@media all and (min-width: 768px) {
    #wrap {
        flex-flow: row wrap;
    }

    /* header 영역 */
    .header {
        flex-direction: row;
    }

    .logo {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 15.625%;
        /* 120px / 768px */
        padding: 0;
    }

    .logo a {
        display: block;
        padding: 50px 0;
        padding: 3.125rem 0;
    }

    .nav {
        position: relative;
        min-height: 80px;
        min-height: 5.000rem;
        background: #2ecc71;
    }

    .gnb {
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 20;
        width: 40.104166666666667%;
        /* 308px / 768px */
    }

    .menu_toggle_btn {
        top: 50%;
        right: 30px;
        right: 1.875rem;
        z-index: 20;
        margin-top: -15px;
        margin-top: -0.938rem;
    }

    /*slider 영역*/
    .slider_section {
        width: 59.89583333333333%;
        /* 460px / 768px */
        height: auto;
    }
    .slider_section span {
        position: relative;
        z-index: 10;
    }


}

/*pc용 쿼리*/
@media all and (min-width: 960px) {
    #wrap {
        position: relative;
        width: 90%;
    }

    /* info 영역 */
    .info_section {
        order: 0;
        position: absolute;
        top: 30px;
        top: 1.875rem;
        right: 30px;
        right: 1.875rem;
        z-index: 30;
        width: auto;
        border-bottom: 0;
    }
    .info_list li {
        width: auto;
        margin-left: 15px;
        margin-left: 0.625rem;
    }
    .info_list li a {
        padding: 0;
    }

    /* header 영역 */
    .header {
        order: 1;
        justify-content: flex-end;
        position: static;
    }

    .logo {
        width: 12.5%;
        /* 120px / 960 */
    }

    .nav {
        display: flex;
        align-items: center;
        position: static;
        width: 87.5%;
        /* 840px / 960px */
    }

    .gnb {
        display: flex !important;
        flex-direction: row;
        position: static;
        width: 100%;
        text-shadow: 0px 1px 1px #25ab5e;
    }
    .gnb li {
        display: block;
        margin-left: 5.20833333333333%;
        /* 50px / 80px */
        background: none;
    }
    .gnb li a {
        width: auto;
        padding: 0;
        text-indent: 0;
    }
    .gnb li span {
        display: none;
    }
    .menu_toggle_btn {
        display: none;
    }

    /*slider 영역*/
    .slider_section {
        order: 2;
        width: 50%;
        /* 480px / 960px */
    }
}